// Responsive image mixin
@mixin responsive-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

// Clearfix mixin
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// Box shadow mixin
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

// Border radius mixin
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// Gradient mixin
@mixin linear-gradient($start, $end) {
  background: $start;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, $start), color-stop(1, $end));
  background: -moz-linear-gradient(center top, $start 5%, $end 100%);
}