// Color variables
$primary-color: #a5745f;
$secondary-color: #572c2c;
$background-color: #fefefe;
$text-color: #333;
$accent-color: #d62e59;
$dark-brown: #392222;
$mid-grey: #515151;
$white: #fff;
$slider-shadow: #4a4a4a;
$slider-caption-bg: #632525;
$slider-loading-bg: #fff;
$slider-caption-link: #fff;
$light-grey: #eee;
$deep-brown: #422d2d;
$nav-border: #3b2222;
$nav-hover: #ccc;
$menu-bg: #3b2222;
$menu-border: #9f6f5b;
$menu-hover: #5b2222;
$slider-border: #444;
$footer-bg: #220000;
$footer-link: #b57f6f;
$mobile-nav-bg: #c9b4b4;
$food-menu-border: #793a2e;
$food-menu-link: #611919;
$button-shadow: #ffffff;
$button-gradient1: #641d1d;
$button-gradient2: #6c2828;
$button-border: #dcdcdc;
$button-text: #666666;
$button-hover-gradient1: #723232;
$button-hover-gradient2: #793c3c;
$menu-bottom-bg: #fffdd0;
$contact-border: #ccc;
$contact-bg: #fff;
$heading-grey: #444;
$txt1-grey: #222;
$link-hover: #e0e0e0;
$txt1-dark: #303030;
$nav-kin: #8c574b;
$nav-link: #999;
$food-nav-mobile: #707070;
$red-button-text: #ececec;

// Font variables
$primary-font: 'Rufina', Arial, serif;
$secondary-font: 'Helvetica', Arial, sans-serif;

// Breakpoints
$tablet-breakpoint: 768px;
$mobile-breakpoint: 480px;
$small-mobile-breakpoint: 479px;
