// Color variables
$primary-color: #A5745F;
$secondary-color: #572C2C;
$background-color: #fefefe;
$text-color: #333;
$accent-color: #D62E59;

// Font variables
$primary-font: 'Rufina', Arial, serif;
$secondary-font: 'Helvetica', Arial, sans-serif;

// Breakpoints
$tablet-breakpoint: 768px;
$mobile-breakpoint: 480px;
$small-mobile-breakpoint: 479px;