# Environment files
.env
.env.local

# Composer
/vendor/
composer.lock

# IDE files
.vscode/
.idea/
*.sublime-*
*.swp
*.swo

/node_modules/

# OS files
.DS_Store
_DS_Store
Thumbs.db

# Log files
*.log
src/error_log
/src/admin/error_log

# Build files
*.zip
*.css.map
src/css

# Sass cache
.sass-cache/

# Temporary files
/tmp/
/cache/

# Domain files
src/peking.hr